extends ../layout

block content
    script(src='/javascripts/eda.js')

    h1= title
    table#tbl_eda
        tr 
            th id
            th Тип
            th Название 
            th Цена
            th Количество
