extends ../layout

block content
    script(src='/javascripts/postavshiki.js')

    h1= title
    table#tbl_postavshiki
        tr 
            th id
            th Название
            th Телефон
            th Адрес