extends ../layout

block content
    script(src='/javascripts/prodazhi.js')

    h1= title
    table#tbl_prodazhi
        tr 
            th id
            th Пользователь
            th Название еды
            th Количество
            th Дата
